@model ResumeManager.Models.Applicant

@{
    ViewData["Title"] = "Applicant Details";
}

<div class="container-fluid col-11 mx-auto pt-0 p-0">
    <div class="card-header bg-secondary text-uppercase text-white" style="height:45px;">
        <h4>View Applicant</h4>
    </div>
    <form ID="ApplicantForm" enctype="multipart/form-data" asp-action="Create">
        <div class="container-fluid btn-group">
            <div class="col-8">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-12 form-group btn-group">
                        <div class="col-6">
                            <label asp-for="Name" class="form-control-plaintext pr-3 font-weight-bold"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Name" class="form-control-plaintext readonly" />
                        </div>
                    </div>
                    <div class="col-12 form-group btn-group">
                        <div class="col-6">
                            <label asp-for="Gender" class="form-control-plaintext pr-3 font-weight-bold"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Gender" class="form-control-plaintext readonly" />
                        </div>
                    </div>
                    <div class="col-12 form-group btn-group">
                        <div class="col-6">
                            <label asp-for="Age" class="form-control-plaintext pr-3 font-weight-bold"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Age" class="form-control-plaintext readonly" />
                        </div>
                    </div>
                    <div class="col-12 form-group btn-group">
                        <div class="col-6">
                            <label asp-for="Qualification" class="form-control-plaintext pr-3 font-weight-bold"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Qualification" class="form-control-plaintext readonly" />
                        </div>
                    </div>
                    <div class="col-12 form-group btn-group">
                        <div class="col-6">
                            <label asp-for="TotalExperience" class="form-control-plaintext pr-3 font-weight-bold"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="TotalExperience" class="form-control-plaintext readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group col-12 justify-content-center align-middle">
                    <img id="PreviewPhoto" src="~/images/@Model.PhotoUrl" alt="Logo Image" width="200" height="200" style="border:1px; margin-top:20px;" />
                </div>
            </div>
        </div>
        <div class="container col-12 btn-group">

            <div class=" container col-6 pl-0 ml-0">
                <div class="col-md-12 p-0 m-0 bg-light">
                    <table id="ExpTable" class="table table-sm CodesTable">
                        <thead>
                            <tr>
                                <th>
                                    CompanyName
                                </th>
                                <th>
                                    Designation
                                </th>
                                <th>
                                    Yearsworked
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Experiences.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="@Model.Experiences[i].CompanyName" class="form-control" readonly/>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Experiences[i].Designation" class="form-control"  readonly/>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Experiences[i].YearsWorked" class="form-control YearsWorked" readonly/>
                                        <span asp-validation-for="@Model.Experiences[i].YearsWorked" class="text-danger"></span>
                                    </td>
                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container col-5">
                <div class="col-md-12 p-0 m-0 bg-light">
                    <table id="SoftwareExpTable" class="table table-sm CodesTable">
                        <thead>
                            <tr>
                                <th>
                                    Software
                                </th>
                                <th>
                                    Rating
                                </th>
                                <th style="width:60px;">
                                    <button id="btnaddSoftware" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">
                                        Add
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.SoftwareExperiences.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <select asp-for="@Model.SoftwareExperiences[i].SoftwareId" class="form-control"
                                                asp-items="ViewBag.Softwares"
                                                onchange="JsonOnProductChange(this)" disabled></select>
                                    </td>
                                    <td>
                                        <input type="hidden" asp-for="@Model.SoftwareExperiences[i].IsHidden" />
                                        <select asp-for="@Model.SoftwareExperiences[i].Rating" class="form-control"
                                                asp-items="ViewBag.Rating" disabled></select>
                                    </td>

                                    <td style="width:60px;">
                                        <button id="btnremoveSoft-@i" type="button" class="btn btn-sm btn-danger visible"
                                                onclick="DeleteItem(this)">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <input type="hidden" id="hdnlastIndex" value="0" />
        <div class="col-12 form-group btn-group text-right p-2">
            <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}